<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" media="screen" href="projects.html">-->
    <title>Document</title>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}

    {{ msg }}
    <h1> Project template </h1>
    <p> Lorem Ipsum is simpy asdasdasdasd ikujhasdla sodj kjkalskdl
    asddasddddddddddddddddddd   qweqweqweqwewqeqwe
        qqqweeqwe
    qweeeeeeaslkndasaewqe
    </p>
    {% endblock content %}
</body>
</html>